{% extends "bk/base.html" %}
{% load static %}
{% block content %}
    <header class="page-header header container-fluid">
      <div class="overlay">
        <div class="description">
  		  <h1>Chao mung ban den voi the gioi moc len cua Dau Dau handmade nhe!</h1>
  		  <p>Dau Dau handmade se cho ra nhung san pham moi lien tuc, day la
          phien ban website dau tien cua Dau Dau shop. Cac ban bam nut o phia
          duoi de dang ki nhan nhung thong tin moi nhat cua Dau Dau shop.</p>
		  <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
          <p><strong>Cung luot qua nhung san pham cua Dau Dau ngay ben duoi nao</strong></p>
		</div>
      </div>
    </header>

    <div class="container features">
      <div class="row">
        {% for item in items %}
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">{{item.name}}</h3>
            <img src="media/{{item.image}}" class="img-fluid">
            <p>{{item.paragraph}}
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock content%}
